@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Proxima-Nova";
    font-weight: bold;
    src: url("../fonts/proxima-nova-9.otf") format("opentype");
  }

  @font-face {
    font-family: "Avenir";
    font-weight: lighter;
    src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
